{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/todos/main.css' %}">
</head>
<body>
<div class="root">
    <h1>Todos App</h1>
    <div class="row">
        <div class="col-3">
            {% if pk %}
                <form method="post" action="{% url form_action pk %}">
            {% else %}
                <form method="post" action="{% url form_action %}">
            {% endif %}
            {% csrf_token %}
            <div class="form-group">
                {{ todo_form.title.label_tag }}
                <input type="text"
                       name="{{ todo_form.title.html_name }}"
                       class="form-control"
                       id="{{ todo_form.title.id_for_label }}"
                       aria-describedby="title_help"
                       value="{{ todo_form.title.value }}"/>
                <small id="title_help" class="form-text text-muted">Enter todo's title</small>
                {{ todo_form.title.errors }}
            </div>

            <div class="form-group">
                {{ todo_form.description.label_tag }}
                <textarea
                        name="{{ todo_form.description.html_name }}"
                        class="form-control"
                        id="{{ todo_form.description.id_for_label }}"
                        aria-describedby="description_help">{{ todo_form.description.value }}</textarea>
                {{ todo_form.description.errors }}
            </div>
            {{ todo_form.bot_catcher }}
            <button class="btn btn-danger">Create</button>
            </form>
        </div>
        <div class="col-9">
            <ul class="todo-list">
                {% for todo in todos %}
                    <li class="todo-list-item collapse-container">
                        <h2 class="todo-title collapse-toggle ">
                            {{ todo.title }}
                        </h2>
                        <p class="todo-description collapsable">
                            {{ todo.description }}
                            {% url 'admin:index' %}
                        </p>
                        <form method="post" action="{% url 'mark todo done' todo.id %}">
                            {% csrf_token %}
                            <button>
                                {% if todo.is_done %}
                                    <p class="green-text">Done</p>
                                {% else %}
                                    <p class="red-text">Not done</p>
                                {% endif %}
                            </button>
                        </form>
                        <a href="{% url 'edit todo' todo.id %}">Edit</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="collapse-container">
    <p class="collapse-toggle">Toggle </p>
    <p class="collapsable">I collapse</p>
</div>

<script src="{% static 'js/todos/main.js' %}">
</script>
</body>
</html>