# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\repos\python-web-2020-09\petstagram\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
