{% extends 'shared/base.html' %}
{% load static %}


{% block page_styles %}
    <link rel="stylesheet" href="{% static 'css/css.css' %}"/>
{% endblock %}

{% block site_title %}
    Index page with function view
{% endblock %}

{% block site_main_content %}
    <h1>It works</h1>
    {% if users %}
        <ul>
            {% for user in users %}
                <li class="highlightable {% cycle 'even' 'odd' %}">
                    {{ user.username }}
                    {% cycle '1' '2' %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No users</p>
    {% endif %}
{% endblock %}